.app {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

input {
  padding: .5rem;
  border: 1px solid black
}

.search ul {
  max-height: 20vh;
  overflow-y: auto;
  list-style-type:none;
  padding-inline-start: 0;
}

.search ul li {
  cursor: pointer;
}
